img {
  display: inline !important;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #4acf93 30%,
      #c3edda);
  --vp-home-hero-image-filter: blur(100px);
}
